<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>Library</title>
<link rel="stylesheet" href="<% request.base %>/css/style.css" />

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  	<script type="text/javascript" src="<% request.base %>javascripts/jquery-1.4.2.min.js"></script>		
    <script type="text/javascript" src="<% request.base %>javascripts/jquery.form.js"></script> 
    <script type="text/javascript" src="<% request.base %>javascripts/jquery.validate.js"></script> 
   	<script type="text/javascript" src="<% request.base %>javascripts/sammy/sammy.js"></script>
	<script type="text/javascript" src="<% request.base %>javascripts/controllers/app.js"></script>
	<script type="text/javascript" src="<% request.base %>javascripts/controllers/app.js"></script>

 <script type="text/javascript">
	
	
	
	
	/* Handle all routes starting with #/form- */

	
	;(function($) {
		
		$("form").ajaxForm(function() {
			alert("thank you for your comment");
		});

    })(jQuery);
	
</script>

</head>
<body>
<% content %>
<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer</a> <% dancer_version %>
</div>
</body>
</html>
